{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}My Jokes{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('jokes.leave_a_joke') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for joke in jokes %}
    <article class="joke">
      <header>
        <div>
          <h1><a class="action" href="{{ url_for('jokes.view_joke', id=joke['id']) }}">{{ joke['title'] }}</a></h1>
          {% if joke['times_rated'] == 0 %}
          <div class="about">Average Rating: 0</div>
          {% else %}
          <div class="about">Average Rating: {{ joke['rating'] / joke['times_rated'] }}</div>
          {% endif %}
        </div>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}