{% extends 'base.html' %}

{% block header %}
{% if g.user['joke_balance'] == 0 %}
<h1>Insufficient Joke Balance</h1>
{% else %}
<h1>Jokes from Other Authors</h1>
{% endif %}
{% endblock %}

{% block content %}
{% if g.user['joke_balance'] < 1 %}
<div>You have to <a href="{{ url_for('jokes.leave_a_joke') }}">leave a joke</a> first.</div>
{% else %}
{% for joke in jokes %}
<article class="joke">
    <header>
        <div>
            <h1><a class="action" href="{{ url_for('jokes.view_joke', id=joke['id']) }}">{{ joke['title'] }}</a></h1>
            <div class="about">by {{ joke['nickname'] }}
                {% if joke['times_rated'] == 0 %}
                <span class="about">Average Rating: 0</span>
                {% else %}
                <span class="about">Average Rating: {{ joke['rating'] / joke['times_rated'] }}</span>
            </div>
            {% endif %}
        </div>
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endif %}
{% endblock %}